.brand-title{
font-weight: bold;
color: black;

}

.carrito{
    text-decoration: none;
    color:black
}

.brand-title:hover{
    
    color: red;}

    .div-carrito{
        margin-left: auto;
    }

